:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);

  section {
    padding: 3rem;// 16rem;
    display: flex;
    flex-direction: column;

    ameh-experience-card {
      margin: 1rem 0 1rem 0;
    }

    ameh-experience-card:first-of-type {
      margin: 0rem 0 1rem 0;
    }

    ameh-experience-card:last-of-type {
      margin: 1rem 0 0rem 0;
    }
  }
}
