<div class="content">
  <div class="side-tile">
    <h1>About</h1>
    <p>
      Allen is a UMN alum who is currently working, in the mortgage banking
      industry, as a full stack web developer with a concentration in .NET. He
      specializes in creating fast, secure, and scalable REST APIs and single
      page applications (SPAs) with modern and interactive UIs.
    </p>
  </div>
</div>
<div class="img-showcase">
  <ameh-polaroid
    imgSrc="assets/images/Allen Hansen_r1_MSP_9122.jpg"
    altText="A headshot of Allen Hansen."
    caption="Business Casual"
  ></ameh-polaroid>
</div>
