:host {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;

  min-height: calc(100vh - 64px);

  .mat-display-1,
  .mat-display-2,
  .headline {
    margin: 0.5rem;
  }

  .padding-2rem {
    padding: 2rem;
  }
}
