:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);

  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;

    mat-card {
      padding: 3rem;

      mat-card-content {
        mat-form-field {
          width: 100%;
          margin: 1rem 0rem;
        }
      }

      mat-divider {
        padding-bottom: 1rem;
      }

      mat-card-actions {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
