<!-- <div class="flex flex-grow bg-hero border border-black"> -->
<!-- flex flex-1
  justify-center
  items-end
  border border-black -->
<!-- <img
    src="assets/images/Allen Hansen_r2_MSP_9127.jpg"
    class="max-h-screen object-contain"
    alt="ameh waiving"
  /> -->
<!-- </div> -->
<div
  class="
    flex flex-col
    justify-center
    items-center
    bg-transparent
    sm:bg-white sm:bg-opacity-90
    text-black
    p-2
    rounded-full
    sm:shadow-xl
    transform
    translate-y-1/4
  "
>
  <!-- flex flex-1 flex-col
  justify-center
  items-center -->
  <h2 class="visible sm:hidden display-5-responsive sm:display-4-responsive">
    Hi, I&apos;m
  </h2>
  <h1 class="visible sm:hidden display-3-responsive sm:display-2-responsive">
    Allen M. E Hansen
  </h1>
  <h2 class="visible sm:hidden display-5-responsive smLdisplay-4-responsive">
    Full Stack Developer
  </h2>
  <fa-icon [icon]="['fas', 'arrow-down']" class="animate-bounce"></fa-icon>
</div>

<!-- <div class="flex flex-initial flex-col justify-center items-center p-8"> -->
<!-- <p class="mat-small">Scroll!</p> -->
<!-- <fa-icon [icon]="['fas', 'arrow-down']" class="animate-bounce"></fa-icon> -->
<!-- </div> -->
