<section>
  <div fxLayout.gt-md="row" fxLayout="column" fxFlexFill>
    <div fxFlex="0 1 0%" fxFlexAlign="start" fxFlexAlign.gt-md="center">
      <img src="assets/images/ameh-waving-bg-transparent-left.png">
    </div>
    <div fxFlex="1 1 0%" fxFlexAlign="center">
      <h2 class="mat-display-2 bg-clip-text text-transparent bg-gradient">Hello, I&apos;m Allen M. E Hansen</h2>
      <p class="mat-subheading-1">a.k.a. AMEH (pronunciation: ah &middot; meh).</p>
      <p class="mat-subheading-2">a full stack web developer with a concentration in .NET. He specializes in creating fast, secure, and scalable REST APIs and single page applications (SPAs) with modern and interactive UIs.</p>
    </div>
  </div>
</section>
<!-- <mat-divider></mat-divider>
<section class="bg-accent">
  <div fxLayout.gt-md="row" fxLayout="column" fxFlexFill>
    <div fxFlex="0 1 0%" fxFlexAlign="start" fxFlexAlign.gt-md="center">
      <img src="assets/images/ameh-waving-bg-transparent-left.png">
    </div>
    <div fxFlex="1 1 0%" fxFlexAlign="center">
      <h2 class="mat-display-2 bg-clip-text text-transparent bg-gradient">Hello, I&apos;m Allen M. E Hansen</h2>
      <p class="mat-subheading-1">a.k.a. AMEH (pronunciation: ah &middot; meh).</p>
      <p class="mat-subheading-2">a full stack web developer with a concentration in .NET. He specializes in creating fast, secure, and scalable REST APIs and single page applications (SPAs) with modern and interactive UIs.</p>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section>
  <div fxLayout.gt-md="row" fxLayout="column" fxFlexFill>
    <div fxFlex="0 1 0%" fxFlexAlign="start" fxFlexAlign.gt-md="center">
      <img src="assets/images/ameh-waving-bg-transparent-left.png">
    </div>
    <div fxFlex="1 1 0%" fxFlexAlign="center">
      <h2 class="mat-display-2 bg-clip-text text-transparent bg-gradient">Hello, I&apos;m Allen M. E Hansen</h2>
      <p class="mat-subheading-1">a.k.a. AMEH (pronunciation: ah &middot; meh).</p>
      <p class="mat-subheading-2">a full stack web developer with a concentration in .NET. He specializes in creating fast, secure, and scalable REST APIs and single page applications (SPAs) with modern and interactive UIs.</p>
    </div>
  </div>
</section> -->
