<section class="mat-bg-primary">
  <div fxFlex="1 1 0%" fxLayout="column">
    <div fxFlex="1 1 0%" fxLayout="column" fxLayoutGap="2rem">
      <h2 class="mat-display-2">About</h2>
      <p class="mat-subheading-2">
        Allen is a full stack web developer with a concentration in .NET. He specializes in creating
        fast, secure, and scalable REST APIs and single page applications (SPAs) with modern and
        interactive UIs.
      </p>
    </div>
    <div fxFlex="1 1 0%" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="2rem">
      <mat-card matRipple fxFlex="1 1 0%" fxLayout="column" fxLayoutGap="1rem">
        <mat-card-header
          fxFlex="0 1 0%"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
          fxLayoutGap="1rem"
        >
          <mat-icon class="icon-2x">lightbulb</mat-icon>
          <mat-card-title>Intuitive Design</mat-card-title>
        </mat-card-header>
        <mat-card-content
          fxFlex="1 1 0%"
          fxLayout="column"
          fxLayoutAlign="space-around center"
          fxLayoutGap="1rem"
        >
          <p>
            Ever find yourself at a closed door questioning whether to push or pull to open it?
            Similar design issues are common on the web and it is my goal to avoid them through
            intuitive designs that are WCAG compliant.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="1 1 0%" fxLayout="column" fxLayoutGap="1rem">
        <mat-card-header
          fxFlex="0 1 0%"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
          fxLayoutGap="1rem"
        >
          <mat-icon class="icon-2x">speed</mat-icon>
          <mat-card-title>Performance</mat-card-title>
        </mat-card-header>
        <mat-card-content
          fxFlex="1 1 0%"
          fxLayout="column"
          fxLayoutAlign="space-around center"
          fxLayoutGap="1rem"
        >
          <p>
            No one likes a site that hangs. That is why performance is one of my top priorities.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="1 1 0%" fxLayout="column" fxLayoutGap="1rem">
        <mat-card-header
          fxFlex="0 1 0%"
          fxLayout="column"
          fxLayoutAlign="space-evenly center"
          fxLayoutGap="1rem"
        >
          <mat-icon class="icon-2x">view_quilt</mat-icon>
          <mat-card-title>Responsive Design</mat-card-title>
        </mat-card-header>
        <mat-card-content
          fxFlex="1 1 0%"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          fxLayoutGap="1rem"
        >
          <p>
            The users&apos; device shouldn&apos;t impact their experience on your site. That is why
            responsive design should never be left out of the requirements.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
