<div class="social-icons-wrapper">
  <a
    mat-icon-button
    *ngFor="let socialIconLink of socialIconLinks"
    class="social-icon-link"
    href="{{ socialIconLink.href }}"
    target="_blank"
    rel="noopener noreferrer"
  >
    <fa-icon
      [icon]="[socialIconLink.fontSet, socialIconLink.fontIcon]"
    ></fa-icon>
    <span class="alt-text"
      >A link to Allen&apos;s profile on {{ socialIconLink.fontIcon }}.</span
    >
  </a>
</div>
<div class="copyright-wrapper">
  <div>
    <p>
      Made with
      <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      by Allen Hansen
    </p>
  </div>
  <div>
    <p>&copy; {{ copyrightYear }} ameh.io. All rights reserved.</p>
    <p>
      Code license under an
      <a routerLink="license">MIT-style License</a>
    </p>
  </div>
</div>
