@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// @import "../../node_modules/devicon/devicon.css";

.icon-1\/4x {
  transform: scale(0.25);
}

.icon-1\/2x {
  transform: scale(0.5);
}

.icon-2x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}
