// Import material theming functions
@import "~@angular/material/theming";

$ameh-typography-config: mat-typography-config(
  $font-family: 'Roboto Mono, "Helvetica Neue", sans-serif'
);

// Light
// $ameh-light-primary: mat-palette($mat-indigo);
// $ameh-light-accent: mat-palette($mat-teal, $default: 200);
// $ameh-light-theme: mat-light-theme(
//   (
//     color: (
//       primary: $ameh-light-primary,
//       accent: $ameh-light-accent
//     )
//   )
// );

// Dark
$ameh-dark-primary: mat-palette($mat-indigo, $default: 200);
$ameh-dark-accent: mat-palette($mat-teal, $default: 200);
$ameh-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $ameh-dark-primary,
      accent: $ameh-dark-accent
    )
  )
);
