:host {
  > mat-card {
    max-width: 500px;
    padding: 20px 30px;
    position: relative;

    > mat-card-header {
      mat-card-subtitle {
        > mat-icon {
          font-size: inherit;
        }
      }
    }
  }
}
