// @use './styles/components';
@import "../node_modules/devicon/devicon.css";

:root {
  --ameh-primary: #bdd2d7;
  --ameh-secondary: #e0748b; //e98298; e0748b; // #8e5572;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // @apply bg-white text-black transition-all duration-500;

  &.dark {
    // @apply text-white;
  }
}
